name: Add Release Assets + Publish
on:
  release:
    types: [ published ] # Only runs when you click "Create Release" in GitHub UI

jobs:
  build-test:
    uses: ./.github/workflows/build-test.yml

  upload-asset:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Get artifact
        uses: actions/download-artifact@v6
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: dist/*
      - name: Publish to Maven Central
        run: echo "Publish to Maven Central" && cat dist/file.txt

