name: Reusable Build Logic
on:
  workflow_call: # Called by other workflows
  workflow_dispatch: # Clicked by you for testing

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Build
        run: echo "Hello" > file.txt

      - name: Run Tests
        run: cat file.txt | grep Hello

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: build file
          path: file.txt
          retention-days: 7